.canvas {
  position: fixed;
  top: -40px;
  right: -550px;
  height: 200px;
  width: 100%;
  max-width: 800px;
  display: flex;
  z-index: 10;
}

.canvas canvas {
  position: absolute;
}

.canvas h2 {
  font-weight: 900;
}

.canvas h4 {
  font-weight: 300;
}

.canvas .title {
  display: "flex";
}

@media (max-width: 760px) {
  .canvas {
    right: -100px;
  }
}
