.contactWrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.contactWrap p {
  font-family: Iosevka;
  background-color: white;
  padding: 8px;
  margin: 0;
  cursor: pointer;
  text-decoration: underline;
  border-color: var(--clr-black);
  color: var(--clr-black);
  transition: border-color 200ms, color 200ms;
}

.contactWrap p:hover {
  color: var(--clr-fluo);
  border-color: var(--clr-fluo);
  transition: border-color 200ms, color 200ms;
}

@media (max-width: 760px) {
  .contactWrap {
    display: none;
  }

  .contact {
    display: inline-block;
    margin-left: 16px;
  }
}
