.contactWrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: var(--space-48);
}

.contactWrap p {
    font-family: Iosevka;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
    border-color: var(--clr-black);
    color: var(--clr-black);
    transition: border-color 200ms, color 200ms;
}

.contactWrap p:hover {
    color: rgb(var(--clr-orange));
    border-color: rgb(var(--clr-orange));
    transition: border-color 200ms, color 200ms;
}

@media (max-width: 760px) {
    .contactWrap {
        display: none;
    }

    .contact {
        display: inline-block;
        margin-left: 16px;
    }
}
