html,
body {
    background: linear-gradient(135deg, #fccca2 25%, transparent 15%),
        linear-gradient(225deg, #fccca2 25%, transparent 15%),
        linear-gradient(315deg, #fccca2 25%, transparent 15%),
        linear-gradient(45deg, #fccca2 25%, transparent 95%);
    background-size: 20px 20px;
    background-color: #fc8028;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    width: 100%;
    padding: 16px;
    display: flex;
}

.App-header svg {
    border: 1px solid #000;
    border-radius: 8px;
}

.App-header h2 {
    margin: 0;
    color: #000;
    padding: 0 8px;
    display: flex;
    align-items: flex-end;
}

.App-content {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.App-content .banner {
    font-size: 8rem;
    font-weight: bold;
    text-align: left;
    padding: 0 0 32px 16px;
    line-height: 6.5rem;
    color: #000;
}

.App-contact {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.App-contact p {
    margin: 16px 16px 0 0;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 16px;
    transition: color 200ms;
    cursor: pointer;
}

.App-contact p:hover {
    background-color: #fc8028;
    transition: background-color 200ms;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
